@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@import "tailwindcss/utilities";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Pretendard", sans-serif;
}
